/*
==========================
COLORS
==========================
*/
// $dark-grey: #7f7f7f;
// $grey: #bbbbbb;
// $light-grey: #e6e6e6;
// $palest-grey: #f8f8f8;

/* BACKGROUND */
$light-blue: #eef6fe;
$light-pink: #f9ebef;
$background-gradient: linear-gradient($light-blue 55%, $light-pink);

/* TEXT */
// Main
$dark-blue: #0b044a;
// Card
  // Initial
  $black: #000;
  // Inactive
  // $medium-light-grey
// Reset
// $light-pink

/* CARD */
// Background
  // Initial + reset
  $white: #fff;
  // Inactive
  $light-grey: #ebebeb;
// Hover
$medium-light-grey: #ababab;
// Border 
  // Initial + reset
  $medium-grey: #8a8a8a;
  // Select
  $medium-light-blue: #a8c9eb;
  // Correct
  $medium-green: #70c6a5;
  // Incorrect
  // $medium-scarlet
  // Inactive
  // $light-grey

/* RESET */
// Background
$medium-scarlet: #bb263c;
// Hover
$light-scarlet: #d86274;

/*
==========================
STYLE
==========================
*/
// $button-border-radius: 20px;
// $box-shadow: 0px 3px 6px $light-grey;

/* CARD */
$card-border: 1px solid $medium-grey;
$card-hover: 0 0 10px $medium-light-grey;
$card-border-radius: 10px;
$card-select-border: 4px solid $medium-light-blue;
$card-correct-border: 4px solid $medium-green;
$card-incorrect-border: 4px solid $medium-scarlet;
$card-inactive-border: 1px solid $light-grey;

/* RESET */
$reset-hover: 0 0 10px $light-scarlet;

/*
==========================
MAIN BUTTONS
==========================
*/
// @mixin system-button($background, $hover) {
//   width: 150px;
//   font-size: 14px;
//   background-color: $background;
//   color: white;
//   text-transform: uppercase;
//   border-radius: $button-border-radius;
//   padding: 10px;
//   letter-spacing: 0.1em;
//   text-align: center;
//   border: none;
//   display: block;
//   box-shadow: $box-shadow;
//   &:hover {
//     background-color: $hover;
//   }
// }

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
