/*
==========================
COLORS
==========================
*/
$dark-grey: #7f7f7f;
$grey: #bbbbbb;
$light-grey: #e6e6e6;
$palest-grey: #f8f8f8;

/*
==========================
MAIN BUTTONS
==========================
*/
@mixin system-button($background, $hover) {
  width: 150px;
  font-size: 14px;
  background-color: $background;
  color: white;
  text-transform: uppercase;
  border-radius: $button-border-radius;
  padding: 10px;
  letter-spacing: 0.1em;
  text-align: center;
  border: none;
  display: block;
  box-shadow: $box-shadow;
  &:hover {
    background-color: $hover;
  }
}
