@import './shared.scss';

.App {
  @include flex-center;
  min-height: 100vh;
  flex-direction: column;
  background: $background-gradient;
}

#language-sets-container {
  @include flex-center;
  min-height: 4vh;
}

#header {
  @include flex-center;
  min-height: 10vh;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

#instructions {
  @include flex-center;
  max-width: 1850px;
  text-align: center;
  min-height: 6.5vh;
  padding: 0 8vw;
}

#footer {
  @include flex-center;
  min-height: 4.5vh;
}