@import './shared.scss';

* {
  border: 1px dashed red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#instructions {
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8vw;
}

#card-grid-container {
  min-height: 75vh;
  position: relative;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 4vh 2vw;
  padding: 4vh 8vw;
}
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  #reset {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 4vh;
    right: calc(8vw - 45px - 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }

#footer {
  min-height: 2vh;
  text-align: center;
}